 
.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid rgba(255, 255, 255, 0.9);
  border-left-color: #f78636;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loaderWrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000061;
}