.BussinessHoursText{
  h2{
margin-top: 15px;
    margin-bottom: 22px;
        font-size: 24px;
  }

}   

.orange_btn{
      background-color: #f78636 !important;
    border: medium none;
    border-radius: 25px;
    color: #fff;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 46px;
    margin: 0 0 0 30px;
    outline: medium none;
    padding: 0;
    text-align: center;
    width: 200px;
}
.bussinesHoursInputs .form-select{
  border: #ddd solid 2px;
    color: #555555;
    border-radius: 20px;
}

h3.formHeadings {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: 600;

.titleWicon {
    width: 24px;
    height: 24px; 
    margin-right: 8px;
}
}