.validationInfo{
  color: #000;
}
.tableStatusList {
thead{
  border-bottom: 2px solid #ddd;
th{
color: #858585;
    font-size: 15px;
    font-weight: bold; 
  }
}
.tableStatusLogo {
    max-height: 51px;
}
.tableStatusIcon{
  display: inline-block;
  margin-right: 8px;
}
}