.ContactusSection {
  // display: flex;
  h3{
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
  }

.formHeadings{
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  padding-bottom: 5px;
}

 
  button{
    border-radius: 50px;
    color: #fff;
    margin: 0;
    width: 100%;
    text-align: center;
    float: right;
  }
  textarea.form-control { 
    height: 176px;
}
// .contactustextBlock {
//     display: flex;
//     align-items: center;
//     height: 100%;
// }
}
